body {
    background: #2f343f;
    font-family: "Deja Vu Sans", monospace;
}

#center-block {
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #f3f4f5; 
}

.category>h2, .category>h3 {
    margin: 4px;
}

h2>a {
    color: #676E7D;
    text-decoration: none;
}

h3>a {
    color: #A0A4B3;
    text-decoration: none;
}
