body {
    background: #2f343f;
    font-family: "Deja Vu Sans", "Inconsolata", "Monaco", monospace;
    display: flex;
    flex-direction: column;
    color: #f6f7f8;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center-block {
    max-width: 1000px;
    margin: 1vw;
}

h1 {
    color: #f3f4f5; 
}

.category {
    margin: 5px;
}

.category>h2, .category>h3 {
    display: inline;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    display: block;
    color: #676E7D;
    padding: 1em;
}

.navigation .icon {
    display: none;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .navigation {
        flex-direction: column;
    }
    .navigation a.icon {
        display: block;
        float: right;
    }
    .navigation li:not(:first-child) {
        display: none;
    }
}

@media all and (max-width: 500px) {
    .navigation.open li {
        display: block;
    }
}

h2>a {
    color: #676E7D;
    text-decoration: none;
}

h3>a {
    color: #A0A4B3;
    text-decoration: none;
}

h2 {
    color: #676E7D;
}

h3 {
    color: #A0A4B3;
}


